@page "/"
@using TwilioConversationTest.Data

<PageTitle>Twilio Testing</PageTitle>

<div>
    <button @onclick="GetAllTwilioCountryPhoneNumbers">
        Get Numbers
    </button>
</div>
<div>
    <select @bind="From">
        <option value="" selected disabled>From</option>
        <option value="+15109440756">+15109440756</option>
        <option value="+18325725034">+18325725034</option>
    </select>
    <select @bind="To">
        <option value="" selected disabled>To</option>
        <option value="+15109440756">+15109440756</option>
        <option value="+18325725034">+18325725034</option>
    </select>
    <input @bind-value="Message" placeholder="Message" />
    <button @onclick="TwilioSMSAsync">Send Message</button>
</div>
@*
<input type="text" @bind=@Number>*@
@*<button @onclick="ProvisonPhoneNumber()">
    Provison Phone Number
</button>*@

@*<div class="number-container">
    <div>TEST</div>
    <button @onclick="() => ProvisonPhoneNumber(+15005550006)"> Buy </button>
</div>
*@
@if (result != null)
{
    @foreach (var item in result)
    {
        <div class="number-container">
            <div>@item.PhoneNumber.ToString()</div>
            <button @onclick="() => ProvisonPhoneNumber(item.PhoneNumber.ToString())"> Buy </button>
        </div>
    }
}
<p>@Result</p>